{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil {% endblock %}

 {% block navbarLien %}
     {{ include(':element:navbar-lien.html.twig') }}
 {% endblock %}

{% block baniere %}
    <p ><img class="col-span-12 baniere" src="{{ asset('css/images/hometest2.jpg') }}" alt="baniere" ></p >
{% endblock %}

{% block article %}
    <div class="accueil" >
        <h1 class="titrePrincipale" >Poubelles en N(or)d</h1 >
        <div class="well" >
            <p >Vous avez sans doute déjà vu, autour de vous, des poubelles pleines à craquer de patisseries encore chaudes, ou des commerces jeter des caisses entières de beaux légumes. Vous avez déjà entendu ces chiffres fous sur le gaspillage de nourriture par les producteurs, les revendeurs et même les consommateurs.</p >
            <p >Ce qui est encore plus fou, c'est qu'à côté de ça, même ici dans le Nord de la France, nous sommes beaucoup à avoir du mal à nous alimenter correctement. Du sans-abri auquel on distribue deux sandwichs par semaine à l'étudiant qui ne se nourrit que de pâtes, en passant par la famille qui râcle les fonds de frigos, la précarité alimentaire peut prendre de nombreuses formes.</p >
            <p >Alors, dans une partie du monde où les poubelles sont pleines et pas mal d'estomacs vides, nous avons décidé de militer pour qu'une partie cette nourriture abandonnée soit redistribuée ou cuisinée de manière collective.</p >
            <p >Poubelles en (N)or(d) s'engageant contre le gaspillage, mais aussi contre les inégalités économiques et l'exploitation animale, la nourriture que nous distribuons sera toujours gratuite et vegane.</p >        </div >

        <div class="panel panel-default" >
            <div class="panel-heading" ><h2 >Qui sommes-nous ?</h2 ></div >
            <div class="panel-body" >
                <p >Nous sommes un collectif formé en janvier 2016, regroupant une cinquantaine de personnes sur la Métropole Lilloise, toutes et tous bénévoles.</p >
                <p >Nous récupérons des produits pouvant encore être consommés aussi bien à la fin des marchés que directement dans les immenses poubelles des centres commerciaux.</p >
                <p >Toute la nourriture trouvée est:</p >
                <ul >
                    <li >soit transmise directement à d'autres collectifs ou associations, par exemple pour être mise ensuite à disposition des réfugi-e-s ou les sans-abris</li >
                    <li >soit stockée dans un lieu ouvert au public qui peut alors venir se servir</li >
                    <li >soit cuisinée et utilisée pour des actions ou des événements militants (fêtes de quartiers, occupations, cantine populaire, disco-soupe, Food not Bombs...).</li >
                </ul >
                <p >Organiser des récups, tout transporter ou cuisiner, ça prend un certain temps et pas mal d'énergie !</p >
                <p >Comme nous sommes toutes et tous bénévoles et que nous devons combiner ça avec nos autres activités, Poubelles en (N)or(d) a décidé de ne pas s'engager à distribuer de la nourriture sur une base quotidienne ou même hebdomadaires. Les membres du collectif s'organisent selon leurs disponibilité (et le remplissage des poubelles aux alentours), et nous vous informons via le site dès qu'il se passe quelque chose.</p >
                <p >Poubelles en (N)or(d) n'a en aucun cas vocation à devenir une grosse association distribuant des centaines de repas quotidiens et employant des salariés ! Nous préférons donner aux personnes autour de nous l'envie et la possibilité de s'approvisionner elles-mêmes en nourriture de récup', par exemple en partageant les adresses des poubelles régulièrement pleines de bonnes choses :)
            </div >
            </p>        </div >
        <div class="panel panel-default" >
            <div class="panel-heading" ><h2 >Nos principes</h2 ></div >
            <div class="panel-body" >
                <p >Les membres du collectif Poubelles en (N)or(d) se sont mis-e-s d'accord sur une série de principes à suivre lors des récups' et de nos activités militantes en général:</p >
                <ul >
                    <li >non-violence physique et matérielle (pas de dégradations), mais pratique de la désobéissance civile (prendre la nourriure jetée là où elle se trouve)</li >
                    <li >limitation aux maximum de nos propres déchets</li >
                    <li >toute nourriture consommable sans risque peut-être récupérée, mais uniquement des aliments et des plats vegans (sans exploitation animale) sont ensuite distribués</li >
                    <li >le collectif fonctionne de manière horizontale, l'information est partagée et les décisions prises au consensus dans la mesure du possible. La parole et les tâches sont réparties entre les membres de manière aussi égalitaire que possible.</li >
                    <li >engagé-e-s contre toutes les formes d'oppressions et de discriminations, contre le racisme, le sexisme, le spécisme....</li >
                    <li >lors de distributions, la gratuité ou le don libre sont encouragés</li >
                    <li >les bénéfices sont utilisés entièrement pour couvrir des frais éventuels, investir dans du matériel ou supporter d'autres initiatives militantes</li >
                    <li >lors de distributions, s'inscrire dans une démarche de solidarité plutôt que de charité, viser l'autonomie du public plutôt que sa dépendance (par exemple en partageant les techniques de récup ou les invitant à participer à l'action)</li >
                    <li >indépendance vis à vis de tout mouvement religieux, sectaire ou parti politique</li >
                </ul >
            </div >
        </div >
        <div class="panel panel-default" >
            <div class="panel-heading" ><h2 >Nos actions</h2 ></div >
            <div class="panel-body" >
                <p >Parce qu'il ne suffit pas de récupérer des aliments en grosse quantité, mais aussi de leur trouver un usage qui a un sens, Poubelles en (N)or(d) tente de conjuguer solidarité et éducation populaire lors de ses actions.</p >
                <h3 >Ce que nous avons fait jusqu'ici:</h3 >
                <ul >
                    <li >redistribution de produits directement consommable à des associations en lien avec les sans-abris, les réfugiés ou les familles précaires</li >
                    <li >redistribution d'aliments à cuisiner lors d'événements réguliers (Cantine Végane...) ou exceptionnels (Discosoupe, Nuit Debout...)</li >
                    <li >mise à disposition de produits récupérés dans un local où il est possible de venir se servir gratuitement</li >
                    <li >formation aux méthodes de récup' sur les marchés et dans les supermarchés via des missions de glanage ouvertes à toutes et à tous</li >
                </ul >
                <h3 >Ce que nous avons l'intention de faire:</h3 >
                <ul >
                    <li >organisation de Food Not Bombs sur Lille (distribution de plats végans et cuisinés à base de récup' afin de sensibiliser à diverses causes, notamment, le gaspillage alimentaire et l'exploitation animale)</li >
                    <li >organisation de “Café Récup'”, où n'importe quelle personne intéressée par le sujet pourrait venir poser des questions sur le glanage et bénéficier de petites sessions de formations</li >
                    <li >partage d'information en ligne sur les méthodes de récups et les lieux les plus intéressants dans la région.</li >
                </ul >
            </div >
        </div >

    </div >
{% endblock %}
