{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil {% endblock %}

 {% block navbarLien %}
     {{ include(':element:navbar-lien.html.twig') }}
 {% endblock %}


{% block article %}
    <div class="panel panel-default" >
        <div class="panel-heading" ><h2 >Contactez-nous !</h2 ></div >
        <div class="panel-body" >
            <div class="row" >
                <div class="well text-center" >
                    <p >Si tu recherche de produits alimentaire de récup' pour un événement particulier, une association ou toi-même, n'hésite pas à nous contacter. Nous rappelons juste que la possibilité de faire des récup's et les quantités de nourriture que nous avons à notre disposition sont toutefois très variable et nous ne pouvons rien garantir !</p >
                    <button class="btn button-or">J'ai besoin de la nourriture</button>
                </div >

                <div class="well text-center" >
                    <p >Si tu aimerais t'investir, si participer aux récup's ou aux actions t'intéresse, envoie nous un petit mail avec tes motivations. Tu pourras ainsi être ajouté sur la liste mail du collectif, et être tenu au courant tout en communiquant avec des glaneuses et glaneurs super sympa !</p >
                    <button class="btn button-or">Je veux participer</button>
                </div >

                <div class="well text-center" >
                    <p >Si tu as du matériel à donner (de cusisine notamment) ou des grosses quantités de nourriture qui te restent sur les bras pour diverses raisons, nous serons serons sûrement très intéressé-e-s et nous nous organiserons pour aller chercher ça !</p >
                    <button class="btn button-or">Je peux aider</button>
                </div >
            </div >
        </div >
    </div >
{% endblock %}

{% block contact %}
{# n'affiche pas le block contact dans la page contact #}
{% endblock %}
