
*{
    font-family: cursive;
}

hr {
    background-color: black;
    height: 1px;
    width: 65%;
    border:1px solid #bbb;
    margin: 29px  15px 37px 15px;
}

h2{
    font-size: 1.8em;
}

strong{
    color: #364a1e;
}

a:hover{
    text-decoration: underline;
}

.panel-default{
    
    .panel-heading{
        background-color: #adc485;
    }
}

.well{
    background-color: #fff;
}
