
*{

}



hr {
    background-color: black;
    height: 1px;
    width: 65%;
    border:1px solid #bbb;
    margin: 29px  15px 37px 15px;
}

h2{
    font-size: 1.8em;
}

strong{
    color: #364a1e;
}

a {
   color : #8C8C0A
}
a:hover, a:focus {
    color : #8C8C0A;
    text-decoration: underline;
}

.panel-default{
    
    .panel-heading{
        background-color: #adc485;
    }
}

.well{
    background-color: #fff;
}

.button-or{
    color: #FFFFFF;
    background-color: #C7C70F;
    border-color: #B7B70D;
    &:hover{
        background-color: #bdbd0f;
        border-color: #adad0d;
    }
}
